{% extends 'base.html' %}

{% block title %} Student Homepage {% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static', filename='user_nav_style.css') }}"> {% endblock %}

{% block body %}

<main>

    <h1 class="table-heading">Student Information</h1>
    <div>
        <table class="table">
            <tr>
                <th>First name</th>
                <td>{{ details['s_fname'] }}</td>
            </tr>
            <tr>
                <th>Middle name</th>
                <td>{{ details['s_mname'] }}</td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ details['s_lname'] }}</td>
            </tr>
            <tr>
                <th>Name formate</th>
                <td>LFM</td>
            </tr>
            <tr>
                <th>Full name</th>
                <td>{{ details['s_lname'] }} {{ details['s_fname'] }} {{ details['s_mname'] }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ details['gender'] }}</td>
            </tr>
            <tr>
                <th>Birth Date</th>
                <td>{{ details['birthdate'] }}</td>
            </tr>
            <tr>
                <th>Enrollment year</th>
                <td>{{ details['enrollment_year'] }}</td>
            </tr>
            <tr>
                <th>Degree</th>
                <td>{{ details['degree'] }}</td>
            </tr>
            <tr>
                <th>Session No</th>
                <td>{{ details['session_no'] }}</td>
            </tr>
            <tr>
                <th>Permenent Id</th>
                <td>{{ details['permenent_id'] }}</td>
            </tr>
            <tr>
                <th>Merit Rank</th>
                <td>{{ details['merit_rank'] }}</td>
            </tr>   
            <tr>
                <th>Cast</th>
                <td>{{ details['cast_catagory'] }}</td>
            </tr>
        </table>

        <h1 class="table-heading">Contact Information</h1>

        <table class="table">
            <tr>
                <th>Home Address</th>
                <td>{{ contacts['home_address'] }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ contacts['city'] }}</td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td>{{ contacts['pin_code'] }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ contacts['home_state'] }}</td>
            </tr>
            <tr>
                <th>Mobile No</th>
                <td>{{ contacts['mobile_no'] }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contacts['email'] }}</td>
            </tr>
        </table>
    </div>
    <!-- <div>
        Welcome, {{ details['permenent_id'] }}
        <hr>
        {{ details['s_fname'] }}
        {{ details['gender'] }}
        {{ details['birthdate'] }}
        {{ details['degree'] }}
        {{ details['permenent_id'] }}

        <hr>
        {{ contacts['home_address'] }}
        {{ contacts['city'] }}
        {{ contacts['pin_code'] }}
        {{ contacts['mobile_no'] }}
        {{ contacts['email'] }}
    </div> -->
</main>

<script>
    function myFunction(x) {
        x.classList.toggle("change");

        var element = document.getElementById("navi")
        element.classList.toggle("chng");
    }
</script>
{% endblock %}
